body {
	display: grid;
	place-items: center;
	height: 100vh;
	background: #feeac8;
}

.grid {
	display: grid;
	grid-template-rows: auto;
	gap: 0px;
	/* Optional: adds space between the squares */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
	border: none;
	outline: none;
}

.surface {
	width: 50px;
	height: 50px;
}

.surface {
	transform: rotateX(51deg) rotateZ(45deg);
	transform-style: preserve-3d;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 1px 1px 0 1px #ababab, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
	transition: 0.2s ease-in-out transform, 0.2s ease-in-out box-shadow;
	background-color: #aee8f0;
}

.surface:hover {
	transform: translate3d(0px, -5px, 0px) rotateX(51deg) rotateZ(45deg)!important;
	box-shadow: 1px 1px 0 1px #ababab, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 35px 35px 28px -10px rgba(34, 33, 81, 0.2);
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.surface {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	margin: -10px 21px;
	text-align: center;
	border: 1px solid black;
	transform: translate3d(0, 10px, 0) rotateX(51deg) rotateZ(45deg);
	transition: .2s ease-in-out all;
	opacity: 0; /* Start hidden */

}

.surfacetext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flagged {
	background: #e9998e;
}

.mine {
	background: #e9998e !important;
}

.overlay {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	position: fixed;
	width: 100vw;
	height: 1000vh;
	background: rgb(161, 161, 161, 0.2);
	z-index: 4;
	align-content: center;
	display: none;
}

.box {
	width: max-content;
	padding: 200px 100px;
	background: white;
	border-radius: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	z-index: 6;
}

button {
	padding: 15px 25px;
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	background: white;
	border: 2px solid black;
	transition: 0.2s ease-in-out all;
	cursor: pointer;
	border-radius: 5px;
	margin: auto;
}

.g {
	background: #b7f5a0!important;
}

.y {
	background: #fcf8ae!important;
}

.r {
	background: #ef175b!important;
	color: white;
}

button:hover {
	background: black;
	color: white;
}

.titlebox {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	z-index: 2;
	display: none;

	position: absolute;
	top: 50px;
	left: 50px;
	padding: 50px;
	border-radius: 20px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.empty {
	background: #f5e6d3 !important;
	transform: translate3d(0px, 5px, 0px) rotateX(51deg) rotateZ(45deg) !important;
	box-shadow: #9e8b6b 3px 3px 6px 0px inset, #f5e6d3 -3px -3px 6px 1px inset !important;
	border: none;
	cursor: default;
}

a {
	color: black;
}

.empty:hover {
	transform: translate3d(0px, 5px, 0px) rotateX(51deg) rotateZ(45deg) !important;
}

.settingsbox {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	display: none;
	z-index: 2;

	position: absolute;
	top: 50px;
	right: 50px;
	padding: 50px;
	border-radius: 20px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.statsbox {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	z-index: 2;
	color: black;

	position: absolute;
	top: 50px;
	left: 517px;
	padding: 50px;
	border-radius: 20px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#time {
	background: black;
	padding: 0px 5px;
	border-radius: 7px;
	color: white;
}

#t {
	background: black;
	padding: 0px 5px;
	border-radius: 7px;
	color: white;
}

.helppopup {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	z-index: 2;
	color: black;
	width: 50px;
	height: 50px;
	border-radius: 99999px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	align-items: center;
	text-align: center;
	justify-content: center;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.helppopup:hover {
	background: #6b5f49;
	color: #feeac8;
}

.helppopup p {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.popup-overlay {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	z-index: 3;
	color: black;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	border-radius: 20px;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, .7);
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.minimize {
	font-family: "JetBrains Mono", serif;
	font-optical-sizing: auto;
	font-style: normal;
	z-index: 4;
	border: none;
	color: black;
	width: 50px;
	height: 50px;
	border-radius: 99999px;
	position: absolute;
	top: 25px;
	right: 25px;
	align-items: center;
	text-align: center;
	justify-content: center;
	backdrop-filter: blur(6px);
	background: rgba(255, 255, 255, 0.55);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.minimize:hover {
	background: #6b5f49;
	color: #feeac8;
}

.minimize p {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#minimize-btn2 {
	top: 25px;
	left: 25px!important;
	margin: 0!important;
}